{% extends 'layout.html' %}
{% block content %}

<div class="container tm-mt-big tm-mb-big">
    <div class="row">
          <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto" id="add_productform">
              <div class="row">
                <div class="col-12">
                  <h2 class="tm-block-title d-inline-block">Add Product</h2>
                </div>
                <form method="POST" enctype="multipart/form-data", action="">
                {{ form.hidden_tag() }}
                <div>

                    <div class="row tm-edit-product-row">
                        <div class="col-xl-6 col-lg-6 col-md-12">
                          <form action="" class="tm-edit-product-form">

                            <div class="form-group mb-3">
                                <label for="name">Product Name</label>
                                {% if form.name.errors %}
                                    {{ form.name(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.name.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.name(class="form-control") }}
                                {% endif %}
                            </div>
                            
                            <div class="form-group mb-3">
                                <label for="name">Product Description</label>
                                {% if form.description.errors %}
                                    {{ form.description(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.description.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.description(class="form-control", rows="10") }}
                                {% endif %}
                            </div>
                            <div class="row">
                            <div class="form-group mb-3  col-sm-4">
                              <label for="price">Length (cm)</label>
                              {% if form.length.errors %}
                                    {{ form.length(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.length.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.length(class="form-control", rows="10") }}
                                {% endif %}
                            </div>
    
                            <div class="form-group mb-3 col-sm-4">
                              <label
                                for="stock">Width (cm)</label>
                                {% if form.width.errors %}
                                    {{ form.width(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.width.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.width(class="form-control", rows="10") }}
                                {% endif %}
                            </div>

                            <div class="form-group mb-3 col-sm-4">
                              <label
                                for="stock">Depth (cm)</label>
                                {% if form.depth.errors %}
                                    {{ form.depth(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.depth.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.depth(class="form-control", rows="10") }}
                                {% endif %}
                            </div>
                          </div>

                            <div class="form-group mb-3">
                                <label for="category">{{form.category.label}}</label>
                                {% if form.category.errors %}
                                    {{ form.category(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.category.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.category(class="form-control", rows="10") }}
                                {% endif %}
                            </div>
                            
                            <div class="row">
                                <div class="form-group mb-3 col-xs-12 col-sm-6">
                                    <label for="price">Price</label>
                                    {% if form.price.errors %}
                                    {{ form.price(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.price.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.price(class="form-control", rows="10") }}
                                {% endif %}
                                  </div>
          
                                  <div class="form-group mb-3 col-xs-12 col-sm-6">
                                    <label
                                      for="stock">Stock</label>
                                      {% if form.stock.errors %}
                                          {{ form.stock(class="form-control form-control-lg is-invalid") }}
                                          <div class="invalid-feedback">
                                              {% for error in form.stock.errors %}
                                                  <span>{{ error }}</span>
                                              {% endfor %}
                                          </div>
                                      {% else %}
                                          {{ form.stock(class="form-control", rows="10") }}
                                      {% endif %}
                                  </div>
                            </div>
                        </div>

                            <div class="form-group mb-3">
                            <label>{{form.image_1.label}}</label>
                            {% if form.image_1.errors %}
                                    {{ form.image_1(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.image_1.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.image_1 }}
                            {% endif %}
                            
                            <hr>
                            <label>{{form.image_2.label}}</label>
                            {% if form.image_2.errors %}
                                    {{ form.image_2(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.image_2.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.image_2 }}
                            {% endif %}
                            <hr>
                            <label>{{form.image_3.label}}</label>
                            {% if form.image_3.errors %}
                                    {{ form.image_3(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.image_3.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.image_3 }}
                            {% endif %}
                            <hr>
                            <label>{{form.image_4.label}}</label>
                            {% if form.image_4.errors %}
                                    {{ form.image_4(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.image_4.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.image_4 }}
                            {% endif %}
                            <hr>
                            <label>{{form.image_5.label}}</label>
                            {% if form.image_5.errors %}
                                    {{ form.image_5(class="form-control form-control-lg is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.image_5.errors %}
                                            <span>{{ error }}</span>
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.image_5 }}
                            {% endif %}
                            </div>
                
                            
      
                <p><input type="submit" value="{% if getproduct %}Update {% else %}Add{% endif %} product" class="btn btn-primary btn-block mx-auto">
                </form>
            </div>
      <div class="col-md-1"></div>
    </div>
</div>
{% endblock content %}