{% extends 'layout.html' %}

{% block content %}
<div class="container">

<h2 class='text-center'>Welcome back, {{ current_user.username }}.</h2>
<u><h2 class='text-center'>Show Logs</h2><u>
<hr>

<div class="panel-container">
    <div class="row">
        <div class="col-md-6" id="panel-spacing">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-lg-6">
                            <a href="{{url_for('users_logs')}}" class="btn btn-primary btn-lg" role="button"><br/>User Logs</a>
                            <a href="{{url_for('api_logs')}}" class="btn btn-primary btn-lg" role="button"><br/>Api Logs</a>
                            <a href="{{url_for('admin_logs')}}" class="btn btn-primary btn-lg" role="button"><br/>Admin Logs</a>
                            <a href="{{url_for('root_logs')}}" class="btn btn-primary btn-lg" role="button"><br/>Root Logs</a>

                          </div>
                        <div class="col-xs-6 col-lg-6">
                          <a href="{{url_for('product_logs')}}" class="btn btn-primary btn-lg" role="button"><br/>Product Logs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


</div>
</div>
{% endblock content %}
