{% extends 'layout.html' %}

{% block content %}
<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(static/images/woodenstool.png);">
	<div class="overlay"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-8 col-md-offset-2 text-center">
				<div class="display-t">
					<div class="display-tc animate-box" data-animate-effect="fadeIn">
						<h1>About Us</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
	
<div id="fh5co-about">
	<div class="container">
		<div class="about-content">
			<div class="row animate-box">
				<div class="col-md-6">
					<div class="desc">
						<h3>Company History</h3>
						<p>The Boutique was established in 1987 with the first physical store located in Singapore, Ang Mo Kio. The Boutique has more than 30 years of experience of manufacturing and selling clothings dedicated to women. Ranging from gowns, dresses to undergarments in various sizes, we offer a large variety of appearals to our beloved customers. Our legacy of craftsmanship and style spans more than 30 years and our products are made with pride since day one.</p> 
						<p>Today, The Boutique remains committed to the early principles of the company -- great quality, clothings does not need to be expensive and should be available to everyone. A visit to our store physically or digitally and you’ll see just how committed we are to that idea.</p>
					<div class="desc">
						<h3>Mission &amp; Vision</h3>
						<p>At The Boutique, our designs are inspired by how you can better experience your family at home. Our designs center not just around the “me” of self-expression, but also the “we” of a home. We hope our designs will facilitate conversations, inspire celebrations or simply help people to create a safe space where they can be themselves.</p> 
						<p>Our designs are also inspired by the greater home we call Earth. Each of our designs ensure that we are able to maximise the usage of every single wooden log, so that no resources are being wasted.</p>
					</div>
				</div>
				<div class="col-md-6">
					<img class="img-responsive" id="about-pic" src="static/images/img_bg_1.jpg" alt="about" width="1100px" height="700px">
				</div>
			</div>
		</div>
		<div class="row animate-box">
			<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
				<span>Productive Staff</span>
				<h2>Meet Our Team</h2>
				<p>Dedicated to Quality Craftmanship</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
				<div class="fh5co-staff">
					<img src="static/images/ahhock.jpg" alt="Free HTML5 Templates by gettemplates.co">
					<h3>Tan Ah Hock</h3>
					<strong class="role">Founder</strong>
					<p>At the age of 22, Ah Hock decided to establish his own woodworking brand, The Boutique. Equipped with more than 30 years of woodworking experience, Ah Hock has created more than 5000 pieces of products for The Boutique's customers.</p>
					<ul class="fh5co-social-icons">
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-dribbble"></i></a></li>
						<li><a href="#"><i class="icon-github"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
				<div class="fh5co-staff">
					<img src="static/images/stacylim.jpg" alt="Free HTML5 Templates by gettemplates.co">
					<h3>Stacy Lim</h3>
					<strong class="role">Co-Owner</strong>
					<p>Stacy established the brand alongside with Ah Hock 30 years ago. Stacy was the first investor that provided the brand with funds to be established. She is also currently in-charged of attracting and accepting investments.</p>
					<ul class="fh5co-social-icons">
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-dribbble"></i></a></li>
						<li><a href="#"><i class="icon-github"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
				<div class="fh5co-staff">
					<img src="static/images/joanna.jpg" alt="Free HTML5 Templates by gettemplates.co">
					<h3>Joanna Mary Ong</h3>
					<strong class="role">Co-Owner</strong>
					<p>Joanna is the second largest investor of The Boutique. With a bachelor in business management, she is in-charged of the adminstration and running of The Boutique since 2014.</p>
					<ul class="fh5co-social-icons">
						<li><a href="#"><i class="icon-facebook"></i></a></li>
						<li><a href="#"><i class="icon-twitter"></i></a></li>
						<li><a href="#"><i class="icon-dribbble"></i></a></li>
						<li><a href="#"><i class="icon-github"></i></a></li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}